body {
    background-color:slategrey;
    margin: 0px 200px 400px 200px;
    
}
.margined {
    width:600px;
    margin: 0 auto;
    background-color: seashell;
    border: 5px solid black;
}
.title {
    font-weight:500;
    font-size: 20px;
    color:cornflowerblue;
    text-shadow: 3px 4px 5px;
    text-align:center;
}
.octopus {
    font-size: 30px;
    font-weight: 300;
    color:crimson;
    text-shadow: 4px 4px 6px;
}
.text1 {
    padding: 50px 50px 50px 50px;
    border: 3px solid seagreen;
    text-align: center;
    color:darkgreen;
    background-color:lightseagreen;
}
.text2 {
    padding: 40px 40px 40px 40px;
    border: 2px solid red;
    text-align: left;
    color:darkred;
    background-color:lightpink;
}
.text3 {
    padding: 30px 50px 30px 50px;
    border:1px solid white;
    border-style:dotted;
    background-color:darkslategrey;
    text-align: right;}